<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thisonline.achilles"
    android:versionCode="5"
    android:versionName="1.5" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <supports-screens />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.thisonline.achilles.SplashThisActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.thisonline.achilles.TabsFragmentActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/tabTheme" >
        </activity>
        <activity
            android:name="com.thisonline.achilles.SplashAchillesActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/tabTheme" >
        </activity>
    </application>

</manifest>